@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #1e1e1e;
  min-height: 100vh;
}
nav {
  background-color: rgba(255, 255, 255, 0.233) !important;
}
h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;
  opacity: 70%;
  margin: auto;
  width: fit-content;
  margin-bottom: 100px;
}
.cards-container {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto;
  gap: 30px;
  padding-bottom: 100px;
}
.card {
  max-width: 300px;
  background-color: transparent;
  position: relative;

  > div:first-child,
  img {
    width: 100%;
    height: 400px !important;
  }
  .card-footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}
.single-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 100px;
  width: fit-content;
  width: 1280px;
  padding-bottom: 100px;

  .category {
    font-size: 14px;
    font-family: system-ui;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #dddddd;
    cursor: pointer;
    margin-bottom: 50px;
  }

  > div:first-child,
  img {
    object-fit: cover;
    height: 500px !important;
  }

  .content {
    padding-top: 50px;
    color: white;
    opacity: 50%;
    width: 70%;
    align-self: flex-start;
  }
}

form {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;

  [data-slot="input-wrapper"],
  [data-slot="trigger"],
  [data-slot="listbox"],
  [role="option"],
  [data-slot="listbox"],
  [data-slot="content"] {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
